/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-calcontainercloudstyle1 {
	position:relative;
	padding:5px;
	background-color:#fbfbfb; /* #F7F9FB;*/
	border:1px solid #7B9EBD;
	float:left;
	_overflow:hidden; /* IE6 only, to clip iframe shim */
}

.yui-calcontainercloudstyle1 iframe {
	position:absolute;
	border:none;
	margin:0;padding:0;
	z-index:0;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
}

/* IE6 only */
.yui-calcontainercloudstyle1 iframe.fixedsize {
	width:50em;
	height:50em;
	top:-1px;
	left:-1px;
}

.yui-calcontainercloudstyle1.multi {
	padding:0;
}

.yui-calcontainercloudstyle1.multi .groupcal {
	padding:5px;
	background-color:transparent;
	z-index:1;
	float:left;
	position:relative;
	border:none;
}

.yui-calcontainercloudstyle1 .title {
	font:100% sans-serif;
	color:#000;
	font-weight:bold;
	margin-bottom:5px;
	height:25px;
	position:absolute;
	top:3px;left:5px;
	z-index:1;
}

.yui-calcontainercloudstyle1 .close-icon {
	position:absolute;
	overflow:hidden;
	text-indent:-10000em;
	right:3px;
	top:3px;
	border:none;
	z-index:1;
}

.yui-calcontainercloudstyle1 .calclose {
	width:17px;
	height:13px;
	cursor:pointer;	
}

/* Calendar element styles */

.yui-calcontainercloudstyle1 .yui-calendar {
	font:100% sans-serif;
	text-align:center;
	border-spacing:0;
	border-collapse:separate;
	position:relative;
}

.yui-calcontainercloudstyle1.withtitle {
	padding-top:1.5em;
}

.yui-calcontainercloudstyle1 .yui-calendar .calnavleft {
	position:absolute;
	overflow:hidden;
	text-indent:-10000em;
	cursor:pointer;
	top:2px;
	bottom:0;
	width:9px;
	height:12px;
	left:2px;
	z-index:1;
	background: url("Images/yui/calendar/callt.gif") no-repeat;
}

.yui-calcontainercloudstyle1 .yui-calendar .calnavright {
	position:absolute;
	overflow:hidden;
	text-indent:-10000em;
	cursor:pointer;
	top:2px;
	bottom:0;
	width:9px;
	height:12px;
	right:2px;
	z-index:1;
	background: url("Images/yui/calendar/calrt.gif") no-repeat;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell {
	padding:.1em .2em;
	border:1px solid #E0E0E0;
	text-align:center;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell a {
	color:#bf5d0f;/*#003DB8;*/
	text-decoration:none;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.today {
	border:1px solid #000;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.oom {
	cursor:default;
	color:#999;
	background-color:#EEE;
	border:1px solid #E0E0E0;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.selected {
	color:#003DB8;
	background-color:#ffea73;
	border:1px solid #ffea73;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.calcellhover {
	cursor:pointer;
	color:#FFF;
	background-color:#bf5d0f;
	border:1px solid #bf5d0f;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.calcellhover a {
	color:#ffffff;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.restricted {
	text-decoration:line-through;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.previous {
	color:#CCC;
}

.yui-calcontainercloudstyle1 .yui-calendar td.calcell.highlight1 { background-color:#CCFF99; }
.yui-calcontainercloudstyle1 .yui-calendar td.calcell.highlight2 { background-color:#99CCFF; }
.yui-calcontainercloudstyle1 .yui-calendar td.calcell.highlight3 { background-color:#FFCCCC; }
.yui-calcontainercloudstyle1 .yui-calendar td.calcell.highlight4 { background-color:#CCFF99; }

.yui-calcontainercloudstyle1 .yui-calendar .calhead {
	border:1px solid #E0E0E0;
	vertical-align:middle;
	background-color:#FFF;
}

.yui-calcontainercloudstyle1 .yui-calendar .calheader {
	position:relative;
	width:100%;
	text-align:center;
}

.yui-calcontainercloudstyle1 .yui-calendar .calheader img {
	border:none;
}

.yui-calcontainercloudstyle1 .yui-calendar .calweekdaycell {
	color:#666;
	font-weight:normal;
	text-align:center;
	width:1.5em;
}

.yui-calcontainercloudstyle1 .yui-calendar .calfoot {
	background-color:#EEE;
}

.yui-calcontainercloudstyle1 .yui-calendar .calrowhead, .yui-calcontainercloudstyle1 .yui-calendar .calrowfoot {
	color:#666;
	font-size:9px;
	font-style:italic;
	font-weight:normal;
	width:15px;
}

.yui-calcontainercloudstyle1 .yui-calendar .calrowhead {
	border-right-width:2px;
}

/* CalendarNavigator */
.yui-calcontainercloudstyle1 .yui-calendar a.calnav {
	_position:relative;
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	color:#000;
}

.yui-calcontainercloudstyle1 .yui-calendar a.calnav:hover {
	border:1px solid #003366;
	background-color:red;/*#6699cc;*/
	color:#fff;
	cursor:pointer;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-mask {
	position:absolute;
	z-index:2;
	display:none;

	margin:0;
	padding:0;

	left:0;
	top:0;
	width:100%;
	height:100%;
	_width:0;    /* IE6, IE7 Quirks - width/height set programmatically to match container */
	_height:0;

	background-color:#000;
	opacity:0.25;
	*filter:alpha(opacity=25);
}

.yui-calcontainercloudstyle1 .yui-cal-nav {
	position:absolute;
	z-index:3;
	display:none;

	padding:0;
	top:1.5em;
	left:50%;
	width:12em;
	margin-left:-6em;

	border:1px solid #7B9EBD;
	background-color:#F7F9FB;
	font-size:93%;
}

.yui-calcontainercloudstyle1.withtitle .yui-cal-nav {
	top:3.5em;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-y,
.yui-calcontainercloudstyle1 .yui-cal-nav-m,
.yui-calcontainercloudstyle1 .yui-cal-nav-b {
	padding:2px 5px 2px 5px;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-b {
	text-align:center;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-e {
	margin-top:2px;
	padding:2px;
	background-color:#EDF5FF;
	border-top:1px solid black;
	display:none;
}

.yui-calcontainercloudstyle1 .yui-cal-nav label {
	display:block;
	font-weight:bold;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-mc {
	width:100%;
	_width:auto; /* IE6 doesn't like width 100% */
}

.yui-calcontainercloudstyle1 .yui-cal-nav-y input.yui-invalid {
	background-color:#FFEE69;
	border: 1px solid #000;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-yc {
	width:3em;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-b button {
	font-size:93%;
	text-decoration:none;
	cursor: pointer;
	background-color: #79b2ea;
	border: 1px solid #003366;
	border-top-color:#FFF;
	border-left-color:#FFF;
	margin:1px;
}

.yui-calcontainercloudstyle1 .yui-cal-nav-b .yui-default button {
	/* not implemented */
}

/* Specific changes for calendar running under fonts/reset */
.yui-calcontainercloudstyle1 .yui-calendar .calbody a:hover {background:inherit;}
p#clear {clear:left; padding-top:10px;}
