/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorcloudstyle1 {
	background-color: #cce4ef;
	}

.FormTitleBgColorcloudstyle1 {
	background-color: #bf5d0f;
	}

.FormTitleFontColorcloudstyle1 {
	color: #ffffff;
	}

.CaptionBgColorcloudstyle1 {
	background-color: #8fcae1;
	}

.CaptionFontColorcloudstyle1 {
	color: #000000;
	}

.DataBgColorcloudstyle1 {
	background-color: #fbfbfb;
	}

.AltDataBgColorcloudstyle1 {
	background-color: #e1f3fb;
	}

.DataFontColorcloudstyle1 {
	color: #000000;
	}

.LinkColorcloudstyle1 {
	color: #0036d8;
	}

.VisitedLinkColorcloudstyle1 {
	color: #8b0000;
	}

.HoverLinkColorcloudstyle1 {
	color: #ff0000;
	}

.ColorBgButtoncloudstyle1 {
	background-color: #bf5d0f;
}

.ColorFontButtoncloudstyle1 {
	color: #ffffff;
}

.ColorBgButtonPassivecloudstyle1 {
	background-color: #ffb071;
}

.ColorFontButtonPassivecloudstyle1 {
	color: #ffffff;
}



.Headercloudstyle1 {
	width: 170px;
	}

.Headercloudstyle1 th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	background-position: right top; padding-left: 8px;
	}


html>body .Headercloudstyle1 th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}


/*ie6*/
* html body .Headercloudstyle1 th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.Headercloudstyle1 a:link { 
	color: #ffffff;
	}

.Headercloudstyle1 a:visited { 
	color: #ffffff;
	}

.Headercloudstyle1 a:hover, .Captioncloudstyle1 a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftcloudstyle1 { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightcloudstyle1 { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftcloudstyle1 img{
	width: 1px;
	}

.HeaderRightcloudstyle1 img{
	width: 14px;
	}


/* Grid Options */
.Gridcloudstyle1 { 
	border: 1px solid #bf5d0f;
	width: 100%;
	}

.Captioncloudstyle1 th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.Captioncloudstyle1 td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}


html>body .Captioncloudstyle1 th, html>body .Captioncloudstyle1 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .Captioncloudstyle1 th, * html body .Captioncloudstyle1 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.Captioncloudstyle1 a:link { 
	color: #000000;
	}

.Captioncloudstyle1 a:visited { 
	color: #000000;
	}

.Captioncloudstyle1 a:hover, .Captioncloudstyle1 a:active { 
	color: #ff0000;
	}

.Captioncloudstyle1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.Captioncloudstyle1 input {
	vertical-align: middle;
	}

.Rowcloudstyle1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #fbfbfb; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Rowcloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	vertical-align: top;
	background-color: #fbfbfb; 
	color: #000000;
	}
	

html>body .Rowcloudstyle1 th, html>body .Rowcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .Rowcloudstyle1 th, * html body .Rowcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.Rowcloudstyle1 { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #bf5d0f; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #fbfbfb; 
	color: #000000;
	}


html>body caption.Rowcloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body caption.Rowcloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.Rowcloudstyle1 a:link { 
	color: #0036d8;
	}

.Rowcloudstyle1 a:visited { 
	color: #8b0000;
	}

.Rowcloudstyle1 a:hover, .Rowcloudstyle1 a:active { 
	color: #ff0000;
	}

.Separatorcloudstyle1{
	color: #bf5d0f;
	}

.Separatorcloudstyle1 td{
	height: 1px;
	}


.AltRowcloudstyle1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #fbfbfb; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowcloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	vertical-align: top;
	background-color: #e1f3fb; 
	color: #000000;
	}


html>body .AltRowcloudstyle1 th, html>body .AltRowcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .AltRowcloudstyle1 th, * html body .AltRowcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowcloudstyle1 a:link { 
	color: #0036d8;
	}

.AltRowcloudstyle1 a:visited { 
	color: #8b0000;
	}

.AltRowcloudstyle1 a:hover, .AltRowcloudstyle1 a:active { 
	color: #ff0000;
	}

.NoRecordscloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	background-color: #fbfbfb; 
	color: #000000;
	vertical-align: top;
	}

.Footercloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .NoRecordscloudstyle1 td, html>body .Footercloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .NoRecordscloudstyle1 td, * html body .Footercloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.Footercloudstyle1 a:link { 
	color: #0036d8;
	}

.Footercloudstyle1 a:visited { 
	color: #8b0000;
	}

.Footercloudstyle1 a:hover, .Footercloudstyle1 a:active { 
	color: #ff0000;
	}

.Footercloudstyle1 img {
	border: 0px;
	margin: 2px; 
	vertical-align: middle;
	}

.Footercloudstyle1 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Recordcloudstyle1 { 
	border: 1px solid #bf5d0f;
	width: 100%;
	}

.Errorcloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #fbfbfb; 
	}


* html>body .Errorcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .Errorcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.Controlscloudstyle1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #fbfbfb; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controlscloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	vertical-align: top;
	background-color: #fbfbfb; 
	color: #000000;
	}

.Controlscloudstyle1 .Captioncloudstyle1 th {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	font-weight: bold;
	white-space: nowrap;
	}	
.Bottomcloudstyle1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .Controlscloudstyle1 th, html>body .Controlscloudstyle1 td, html>body .Bottomcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .Controlscloudstyle1 th, * html body .Controlscloudstyle1 td, * html body .Bottomcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.Bottomcloudstyle1 a:link { 
	color: #0036d8;
	}

.Bottomcloudstyle1 a:visited { 
	color: #8b0000;
	}

.Bottomcloudstyle1 a:hover, .Captioncloudstyle1 a:active { 
	color: #ff0000;
	}

.Bottomcloudstyle1 img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottomcloudstyle1 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptioncloudstyle1 th{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e1f3fb; 
	color: #000000;
	}

.GroupCaptioncloudstyle1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #fbfbfb; 
	color: #000000;
	}


html>body .GroupCaptioncloudstyle1 th, html>body .GroupCaptioncloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupCaptioncloudstyle1 th, * html body .GroupCaptioncloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptioncloudstyle1 a:link {
	color: #000000;
	}

.GroupCaptioncloudstyle1 a:visited{
	color: #000000;
	}

.GroupCaptioncloudstyle1 a:hover, .GroupCaptioncloudstyle1 a:active{
	color: #ff0000;
	}

.GroupFootercloudstyle1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #8fcae1; 
	color: #000000;
	}


html>body .GroupFootercloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupFootercloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFootercloudstyle1 a:link {
	color: #0036d8;
	}

.GroupFootercloudstyle1 a:visited{
	color: #8b0000;
	}

.GroupFootercloudstyle1 a:hover, .GroupFootercloudstyle1 a:active{
	color: #ff0000;
	}

.GroupFootercloudstyle1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFootercloudstyle1 input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalcloudstyle1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e1f3fb; 
	color: #000000;
	border-bottom: 2px solid #bf5d0f;
	}


html>body .SubTotalcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .SubTotalcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalcloudstyle1 a:link {
	color: #0036d8;
	}

.SubTotalcloudstyle1 a:visited{
	color: #8b0000;
	}

.SubTotalcloudstyle1 a:hover, .SubTotalcloudstyle1 a:active{
	color: #ff0000;
	}

.Totalcloudstyle1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e1f3fb; 
	color: #000000;
	}


html>body .Totalcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .Totalcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.Totalcloudstyle1 a:link {
	color: #0036d8;
	}

.Totalcloudstyle1 a:visited{
	color: #8b0000;
	}

.Totalcloudstyle1 a:hover, .Totalcloudstyle1 a:active{
	color: #ff0000;
	}

/* Form Options */
.Buttoncloudstyle1 { 
	background-color: #bf5d0f; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.Calendarcloudstyle1 { 
	border: 1px solid #bf5d0f;
	width: 100%;
	}

.CalendarWeekdayNamecloudstyle1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e1f3fb; 
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekdayNamecloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayNamecloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNamecloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarWeekdayNamecloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarWeekdayNamecloudstyle1 a:hover, .CalendarWeekdayNamecloudstyle1 a:active{
	color: #ff0000;
	}

.CalendarWeekendNamecloudstyle1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e1f3fb;	
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekendNamecloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendNamecloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNamecloudstyle1 a:link {
	color: #000000;
	}

.CalendarWeekendNamecloudstyle1 a:visited{
	color: #000000;
	}

.CalendarWeekendNamecloudstyle1 a:link, .CalendarWeekendNamecloudstyle1 a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDaycloudstyle1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: center;
	background-color: #fbfbfb;	
	color: #000000;
	}


html>body .CalendarDaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarDaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDaycloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarDaycloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarDaycloudstyle1 a:hover, .CalendarDaycloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendcloudstyle1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: center;
	background-color: #e1f3fb;	
	color: #000000;
	}


html>body .CalendarWeekendcloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendcloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendcloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarWeekendcloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarWeekendcloudstyle1 a:hover, .CalendarWeekendcloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodaycloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #bf5d0f;
	text-align: center;
	background-color: #fbfbfb;	
	color: #000000;
	}


html>body .CalendarTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodaycloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarTodaycloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarTodaycloudstyle1 a:hover, .CalendarTodaycloudstyle1 a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodaycloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #bf5d0f;
	text-align: center;
	background-color: #e1f3fb;	
	color: #000000;
	}


html>body .CalendarWeekendTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodaycloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarWeekendTodaycloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarWeekendTodaycloudstyle1 a:hover, .CalendarWeekendTodaycloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDaycloudstyle1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: center;
	background-color: #fbfbfb;	
	color: #bf5d0f;
	}


html>body .CalendarOtherMonthDaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDaycloudstyle1 a:link {
	color: #bf5d0f;
	}

.CalendarOtherMonthDaycloudstyle1 a:visited{
	color: #bf5d0f;
	}

.CalendarOtherMonthDaycloudstyle1 a:hover, .CalendarOtherMonthDaycloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodaycloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #bf5d0f;
	text-align: center;
	background-color: #fbfbfb;	
	color: #bf5d0f;
	}


html>body .CalendarOtherMonthTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodaycloudstyle1 a:link {
	color: #bf5d0f;
	}

.CalendarOtherMonthTodaycloudstyle1 a:visited{
	color: #bf5d0f;
	}

.CalendarOtherMonthTodaycloudstyle1 a:hover, .CalendarOtherMonthTodaycloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendcloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: center;
	background-color: #e1f3fb;	
	color: #bf5d0f;
	}


html>body .CalendarOtherMonthWeekendcloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendcloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendcloudstyle1 a:link {
	color: #bf5d0f;
	}

.CalendarOtherMonthWeekendcloudstyle1 a:visited{
	color: #bf5d0f;
	}

.CalendarOtherMonthWeekendcloudstyle1 a:hover, .CalendarOtherMonthWeekendcloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodaycloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #bf5d0f;
	text-align: center;
	color: #bf5d0f;
	background-color: #e1f3fb;	
	}
	

html>body .CalendarOtherMonthWeekendTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodaycloudstyle1 a:link {
	color: #bf5d0f;
	}

.CalendarOtherMonthWeekendTodaycloudstyle1 a:visited{
	color: #bf5d0f;
	}

.CalendarOtherMonthWeekendTodaycloudstyle1 a:hover, .CalendarOtherMonthWeekendTodaycloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDaycloudstyle1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #8fcae1;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDaycloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDaycloudstyle1 a:link {
	color: #000000;
	}

.CalendarSelectedDaycloudstyle1 a:visited{
	color: #000000;
	}

.CalendarSelectedDaycloudstyle1 a:hover, .CalendarSelectedDaycloudstyle1 a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorcloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .CalendarNavigatorcloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorcloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorcloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarNavigatorcloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarNavigatorcloudstyle1 a:hover, .CalendarNavigatorcloudstyle1 a:active{
	color: #ff0000;
	}

.CalendarNavigatorcloudstyle1 img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorcloudstyle1 td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorcloudstyle1 th {
	font-family: Arial; font-size: 80%;
	}


html>body .CalendarNavigatorcloudstyle1 th, html>body .CalendarNavigatorcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorcloudstyle1 th, * html body .CalendarNavigatorcloudstyle1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventcloudstyle1{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}


html>body .CalendarEventcloudstyle1 {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarEventcloudstyle1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventcloudstyle1 a:link {
	color: #0036d8;
	}

.CalendarEventcloudstyle1 a:visited{
	color: #8b0000;
	}

.CalendarEventcloudstyle1 a:hover, .CalendarEventcloudstyle1 a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thcloudstyle1 { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}


html>body .thcloudstyle1 {
	font-size: 100%;
}


/*ie6*/
* html body .thcloudstyle1 {
	font-size: 100%;
}
/*end*/

.Headercloudstyle1 .thcloudstyle1 { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .Headercloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}


/*ie6*/
* html body .Headercloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.Captioncloudstyle1 .thcloudstyle1 { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
}


html>body .Captioncloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .Captioncloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.Rowcloudstyle1 .thcloudstyle1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #fbfbfb; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowcloudstyle1 .thcloudstyle1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #fbfbfb; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.Controlscloudstyle1 .thcloudstyle1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border: 1px solid #8fcae1;
	background-color: #fbfbfb; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptioncloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #8fcae1;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e1f3fb; 
	color: #000000;
}


html>body .GroupCaptioncloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 100%;
}

html>body .Rowcloudstyle1 .thcloudstyle1, html>body .AltRowcloudstyle1 .thcloudstyle1, html>body .Controlscloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptioncloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 100%;
}

* html body .Rowcloudstyle1 .thcloudstyle1, * html body .AltRowcloudstyle1 .thcloudstyle1, * html body .Controlscloudstyle1 .thcloudstyle1 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenucloudstyle1 td {
	font-family: Arial; font-size: 80%;
}


html>body .simpleMenucloudstyle1 td {
	font-family: Arial; font-size: 100%;
} 


/*ie6*/
* html body .simpleMenucloudstyle1 td {
	font-family: Arial; font-size: 100%;
} 
/*end*/

.Sortercloudstyle1 img, .Navigatorcloudstyle1 img {
	border:0;
}