<div class="box block">
    <div class="box-body block-body">

<div class="bar blockheader">
    <h3 class="t">
{Title}
</h3>
</div>
<div class="box blockcontent">
    <div class="box-body blockcontent-body">

{Content}


		<div class="cleared"></div>
    </div>
</div>


		<div class="cleared"></div>
    </div>
</div>

