/* begin Page */

/* Created by Artisteer v3.1.0.47770 */

#page-background-glare{
   display: none;
}
.cleared {
   width:1px;
}
/* Start Box */
.box, .box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Menu */
ul.hmenu, ul.hmenu ul, ul.hmenu li, ul.hmenu a {
   zoom:1;
}
.hmenu li.hmenuhover{
   z-index: 10000;
}
.hmenu .hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.hmenu .hmenuhoverUL .hmenuhoverUL{
   top: 0;
   left: 100%;
}
.hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nav
{
   zoom: 1;
   height: 35px;
   background:#EB9D7C;
}

/* end Menu */

/* begin MenuItem */
.hmenu a 
{
   display:inline-block;
   color: #1E262B;
   padding: 0 30px;
   line-height: 35px;
   text-align: center;
}

.hmenu a.active 
{
   color: {ActiveTextColor};
}

.hmenu a:hover, .hmenuhoverA,  .hmenuhover a 
{
   color: #1E222B;
   background-color:#ACACBA;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'1px');
}
ul.hmenu li li{
   margin-left:0;
}

span.hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 35px;
   background: url('Images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a 
{
   color: #273138 !important;
   float: left;
}

.hmenu ul a:hover, .hmenu ul .hmenuhover .hmenuhoverA 
{
   color: #000000 !important;
   background-position: left bottom;
   border-color: #EB9D7C;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Header */
.header {
   zoom:expression(runtimeStyle.zoom=1);
   z-index: 1;
}

/* end Header */

/* begin Box, Sheet */
.sheet {
   background:#FFFFFF;
}
/* end Box, Sheet */

/* begin Layout */
.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Button */
.button-wrapper{
   zoom: 1;
}
.button-wrapper .button-l, .button-wrapper .button-r {
   display: none;
}
.button-wrapper .button {
   float: left;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.vmenublock {
   background:#FEFBFA;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   background:#FEFBFA;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent {
   background:#FEFBFA;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu, ul.vmenu ul, ul.vmenu li, ul.vmenu a
{
   position:relative;
   zoom: 1;
}

ul.vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'2px');
}
ul.vmenu ul{
   margin-top:2px;
   padding-bottom: 10px;
}

ul.vmenu a 
{
   color: #A64319;
   background-color:#FEFBFA;
   padding: 0 10px 0 10px;
   height: 34px;
   line-height: 34px;
}

.vmenu a.active 
{
   color: #7A3112;
   background-color:#EB9D7C;
}

ul.vmenu a:hover
{
   color: #8E3915;
   background-color:#F6D0C0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a {
   color: #E68459 !important;
}
ul.vmenu li li {
   padding-top:expression(this.previousSibling==null?'10px':'0');
   margin-top:expression(this.previousSibling==null?'0':'6px');
}
 
ul.vmenu ul ul {
   margin-top:6px;
}
ul.vmenu ul a.active {
   color: #4E6271 !important;
}
ul.vmenu ul a:hover {
   color: #3C4B56 !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block {
   background:#FEFBFA;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   background:#EB9D7C;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent {
   background:#FEFBFA;
}
.blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Box, Post */
.post {
   background:#FFFFFF;
}
/* end Box, Post */

/* begin PostBullets */
.post ul li, .post ol ul li
{
   height: 1%;
   padding-left: 11px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin Footer */
.footer-body{
   padding-right: 0;
   zoom:1;
}
.footer{
   zoom:1;
   background:#F0B79E;
}

/* end Footer */

/* begin LayoutCell, content */
.sidebar1 {
   width: auto;
   background:#FEFBFA;
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */
/* end LayoutCell, sidebar1 */

