<script language="JavaScript" type="text/javascript" src="{page:pathToRoot}js/menu/ArtMenu.js"></script>
<div class="box vmenublock">
    <div class="box-body vmenublock-body">
<div class="bar vmenublockheader">
		<h3 class="t">{Title}</h3>
	</div>
	<div class="box vmenublockcontent">
    <div class="box-body vmenublockcontent-body">
<div class="vmenublockcontent article">   <ul class="vmenu">{MenuItems}</ul>
</div>
		<div class="cleared"></div>
    </div>
</div>
		<div class="cleared"></div>
    </div>
</div>